.App {
  font-family: sans-serif;
  text-align: center;
}

button {
  background-color: lightblue;
  border: none;
  margin-bottom: 15px;
  padding: 10px;
  display: block;
}

button#nextMessage {
  background-color: lightgrey;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
}

.coolBox {
  background-color: grey;
  width: 150px;
  height: 25px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  padding-top: 7px;
  margin-bottom: 15px;
  color: white;
}
